:root {
    --hot-magenta: #ff02d0;
    --dark-side: #181c25;
    --dark-main: #0e121a;
    --dark-player: #202530;

    --dark-main-text: #fff;
  }
  /*** Global Styles ****/
  * {
      margin: 0;
      padding: 0;
  }
  body {
      
      color: var(--dark-main-text);
      height: 100vh;
      overflow-y: none;
  }
  img {
      max-width: 100%;
  }
  figure {
      margin: 0;
  }
  ul {
      list-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
}
   /*** End Global Styles ****/

.header {
    grid-area: headertop;
}
.footer {
    grid-area: player-footer;
    background-color: var(--dark-player);
    grid-row: 3/3;
    grid-column: 1/4;
}
.content {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
    background-color: var(--dark-side);
}

* {box-sizing: border-box;}

.wrapper {
  display: grid;
    grid-template-areas: 
      "sidebar main main"
      "sidebar main main"
      "player-footer player-footer player-footer";
  margin: 0;
  padding: 0;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 1fr 1fr 100px;
  background-color: var(--dark-main);
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-feed {
    padding: 55px 50px;
    max-height: 100%;
    overflow-y: scroll;
}
    .main-feed header {
        font-size: 20px; 

    }
    .main-feed img {
        border-radius: 5px;
    }
    .main-feed .thread {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

.main-sidebar {
    padding-left: 40px;
    padding-top: 55px;
}
    .main-sidebar li {
        padding-bottom: 30px;
    }
    .main-sidebar figure > img {
        border-radius: 50%;
    }
    .main-sidebar article {
        display: flex;
        align-items: center;
    }
    .main-sidebar figure {
        padding-right: 20px;
    }
    .main-sidebar .album-meta {
        flex: 1;
    }
